{% extends 'base.html'%}
{% block content%}

<h4  class='display-9 fw-bold text-center'>About the author</h4>

<div class="container">
  <div class="row mt-5">
    <div class="col-md-8 mx-auto text-center">
      <p class="py-4">
        If you like the app and you want to contact me, here is an email: <a href="mailto:tomczyk.art@gmail.com">tomczyk.art@gmail.com</a>
      </p>
      <p class="py-2">
         If you want to find the source code of this app, or maybe you want to hire me, below are the links the Github and LinkedIn.
      </p>
        <a href="https://github.com/tomczykart" target="_blank"><i class='bx bxl-github bx-sm'></i></a>
        <a href="https://www.linkedin.com/in/artur-tomczyk-1b2367a6/" target="_blank"><i class='bx bxl-linkedin-square bx-sm' ></i></a>
    </div>
  </div>
</div>

{% endblock %}
