<!doctype html>
<html>
    <head>
        <title>{{ title }} - Find your plot</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
      <main>

          <!--        NAVIGATION BAR                -->
          <nav class="navbar navbar-expand-lg py-3 bg-light">
            <div class="container">
              <a class="navbar-brand" href="{{ url_for('index') }}"><b>Find your plot</b></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('index') }}">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('how') }}">Features</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('faqs') }}">Faqs</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('about') }}">About</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
          <!--        NAVIGATION BAR                -->

          <!--        HERO SECTION                -->
          <div class="hero d-flex align-items-center">
            <div class="container">
              <div class="row">
                <div class="col-lg-7">
                  <h1 class='display-4'>
                    Find your plot and get all the information you need
                  </h1>
                </div>
              </div>
            </div>
          </div>
          <!--        HERO SECTION                -->


          <!--        MAIN BODY                -->
          <div class="px-4 py-3 my-2">

              <!--        PAGES CONTENT              -->
              {% block content %}{% endblock%}
              <!--        PAGES CONTENT              -->
          </div>

          <!--        FLASH ERROR                -->
          <div class='container text-center'>
          {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <small class='form-text text-muted'>[{{ message }}]</small>
            {% endfor %}
          {% endif %}
          {% endwith %}
          </div>
          <!--        FLASH ERROR                -->




          <!--        MAIN BODY                -->

      </main>

      <!--        BOOTSTRAP JAVASCRIPT                -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
      <!--        BOOTSTRAP JAVASCRIPT                -->

    </body>
</html>
