<!doctype html>
<html>
    <head>
        <title>{{ title }} - PLOT ANALYZER</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    </head>
    <body>
      <main>
          <!--        NAVIGATION BAR                -->
          <div class="container">
            <header class="d-flex justify-content-center py-5">
              <ul class="nav nav-pills">
                <li class="nav-item"><a href="{{ url_for('index') }}" class="nav-link active" aria-current="page">Home</a></li>
                <li class="nav-item"><a href="{{ url_for('how') }}" class="nav-link">Features</a></li>
                <li class="nav-item"><a href="{{ url_for('faqs') }}" class="nav-link">FAQs</a></li>
                <li class="nav-item"><a href="{{ url_for('about') }}" class="nav-link">About</a></li>
              </ul>
            </header>
          </div>
          <!--        NAVIGATION BAR                -->

          <!--        MAIN TITLE                -->
          <div class="px-4 py-1 my-2 text-center">
            <br>
              <h1 class='display-3 fw-bold text-primary'>Find your plot and get all the information you need</h1>
          </div>
          <!--        MAIN TITLE                -->

          <!--        MAIN BODY                -->
          <div class="px-4 py-3 my-2">

              <!--        PAGES CONTENT              -->
              {% block content %}{% endblock%}
              <!--        PAGES CONTENT              -->
          </div>

          <!--        FLASH ERROR                -->
          <div class=container>
          {% with messages = get_flashed_messages() %}
          {% if messages %}
          <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
          </ul>
          {% endif %}
          {% endwith %}
          </div>
          <!--        FLASH ERROR                -->


          <!--        MAIN BODY                -->

      </main>

      <!--        BOOTSTRAP JAVASCRIPT                -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
      <!--        BOOTSTRAP JAVASCRIPT                -->

    </body>
</html>
